@import "tailwindcss";

@theme {
  --color-bg-light: #f9fafb;
  --color-bg-dark: #1f2937;
  --color-text-light: #ffffff;
  --color-text-strong: #374151;
  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-bg-light);
  }
  .bg-dark {
    background-color: var(--color-bg-dark);
  }

  .text-light {
    color: var(--color-text-light);
  }
  .text-strong {
    color: var(--color-text-strong);
  }

  .font-sans {
    font-family: var(--font-sans);
  }
}
